.header {
  overflow: hidden;
  background-color:rgb(0, 0, 0.2);
  color:white;
  padding: 20px 10px;
}
.card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
}
.card-body{
    background-color: azure;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: rgb(0, 0, 0.2);
    color: white;
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Float four columns side by side */
  .column2 {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  .column1 {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding in columns */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
    padding: 16px;
    
    background-color: #f1f1f1;
  }
  
  /* Responsive columns - one column layout (vertical) on small screens */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  @media screen and (max-width: 600px) {
    .column1 {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  .card11 {
    display: flex;
    align-items: center;
    width: auto;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .card img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 8px;
  }

  .card-text {
    padding-left: 20px;
    object-fit: cover;
    margin-right: 10px;
    border-radius: 8px;
    flex-grow: 1;
  }